<div class="footer">
  <ul class='social'>
    <li><a href="#"><img src="icons/facebook.svg" alt="Facebook"></a></li>
    <li><a href="#"><img src="icons/twitter.svg" alt="Twitter"></a></li>
    <li><a href="#"><img src="icons/instagram.svg" alt="Instagram"></a></li>
    <li><a href="#"><img src="icons/snapchat.svg" alt="Snapchat"></a></li>
    <li><a href="#"><img src="icons/youtube.svg" alt="Youtube"></a></li>
  </ul>
  <div class="container">
    <div class="address">
      <strong>Henry M. Gunn High School</strong>
      <a href="https://www.google.com/maps/place/Henry+M+Gunn+High+School/"><span>780 Arastradero Rd</span>
      <span>Palo Alto, California 94306</span></a>
      <span>Phone: (650) 354-8200</span>
      <span>Fax: (650) 493-7801</span>
      <span>Attendance: (650) 354-8210</span>
    </div>
  </div>
  <span class="disclaimer">This is not the official <a href="https://sites.google.com/a/pausd.org/gunn-cross-country/home">Gunn sports website</a>; it's a redesign of it which is <a href="https://github.com/nicholaschiang/gunn-sports-remake">open source here</a>.</span>
</div>
<script src="/js/touchy.js" charset="utf-8"></script>
<script src="/js/home.js" charset="utf-8"></script>
<script src="/js/links.js" charset="utf-8"></script>
